<ion-header>
  <ion-toolbar>
    <ion-title>tweets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let tweet of tweets; let i = index">
    <ion-item>
      <ion-avatar slot="start" class="user-avatar">
        <img [src]="'./assets/users/' + usersPics[i] + '.svg'">
      </ion-avatar>

      <ion-label>
        <h2>{{tweet.tweet}}</h2>

        <p *ngIf="tweet._author; else userDeleted" class="user" [class.me]="canEdit(tweet)">
          {{ getAuthor(tweet) }}
          <ion-icon *ngIf="canEdit(tweet)" name="heart" color="danger-tint"></ion-icon>
        </p>
        <ng-template #userDeleted>
          <p class="user-deleted">User deleted</p>
        </ng-template>
      </ion-label>

      <div *ngIf="canEdit(tweet)">
        <ion-button fill="clear" slot="end" (click)="createOrEditTweet(tweet)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>

        <ion-button fill="clear" slot="end" color="danger" (click)="deleteTweet(tweet)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-item>

    <ion-card-content>

      <ion-button fill="clear" slot="start" (click)="addLike(tweet)">
        <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="secondary" slot="start" (click)="commentsTweet(tweet)">
        <ion-icon slot="icon-only" name="chatboxes"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="warning" slot="start" (click)="addRemoveFavorites(tweet)">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createOrEditTweet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>